* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-dish-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 600px) {
  .image-card-dish-button {
    width: 100%;
    height: 200px;
    border-radius: 4px;
    display: inline-flex;
    margin: 10px;
    transition: all 0.3s ease-in-out;
  }
  .container-dish-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

.title-dish-mobile-container {
  color: #323232;
}
@media screen and (min-width: 700px) {
  .title-dish-mobile-container {
    display: none;
  }
}

.image-card-dish-button {
  width: 100%;
  height: auto;
  border-radius: 10px;
  display: inline-flex;
  margin: 10px;
  justify-content: center;
  align-items: flex-end;
  transition: all 0.3s ease-in-out;
  border: none;
}

.card-dish:hover {
  scale: 1.02;
}

.card-dish-top {
  width: 100%;
  background-color: rgba(6, 6, 6, 0.75);
  text-align: center;
  border-radius: 0 0 5px 5px;
  animation-name: appear;
  animation-duration: 0.4s;
}
.dish-title-desktop {
  color: aliceblue;
  margin: 5px;
}

@keyframes appear {
  from {
    opacity: 0.1;
    scale: 0;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}
@media screen and (min-width: 600px) {
  .image-card-dish-button {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    display: inline-flex;
    margin: 10px;
    justify-content: center;
    align-items: flex-end;
    transition: all 0.3s ease-in-out;
  }

  .card-dish:hover {
    scale: 1.02;
  }
  .dish-title-desktop {
    color: aliceblue;
    margin: 5px;
  }
  .card-dish-top {
    width: 100%;
    background-color: rgba(6, 6, 6, 0.3);
    text-align: center;
    border-radius: 0 0px 10px 10px;
    animation-name: appear;
    animation-duration: 0.4s;
  }
}
