* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navigation {
  background-color: black;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.hamburger {
  width: 20px;
  height: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  background-color: black;
  border: none;
}

.burger {
  display: flex;
  align-items: center;
  height: 3px;
  width: fit-content;
  color: white;
}

.logo-name {
  color: white;
  font-size: 15px;
}

.search-function {
  color: white;
}
