.country-flag {
  max-width: 150px;
  min-width: 150px;
  height: 100px;
  margin: 5px;
  scroll-snap-align: center;
  border-radius: 10px;
}

.banner {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
}
.image {
  margin-block: 8%;
}

.banner p {
  text-align: justify;
  margin: 10px;
  width: clamp(400px, 50%, 600px);
  margin-bottom: 15%;
}

.banner img {
  width: auto;
  border-radius: 10px;
}

.table {
  margin-top: 1em;
  margin: 0 auto;
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (max-width: 700px) {
  .country-flag {
    max-width: 100px;
    min-width: 100px;
    height: 70px;
    margin: 5px;
    scroll-snap-align: center;
  }
}
