.big-card {
  margin: 0 auto;
  /* width: clamp(710px, 70%, 900px);*/
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

h1 {
  font-size: 31px;
  font-family: monospace;
  color: black;
}

h3 {
  margin: 15px;
}

.image-recette {
  height: 424px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.dish-ingredients {
  color: rgb(174 74 74);
  padding-block: 46px;
  margin-left: 61px;
}
.big-card .dish-description {
  background-size: cover;
  background-repeat: no-repeat;
  height: 382px;
  margin: 0 auto;
}
.image-recette div {
  width: 100%;
  border-radius: 40px;
}

.speciality {
  padding-bottom: 65px;
  font-size: 22px;
  color: red;
  display: flex;
  justify-content: center;
}

.category {
  font-size: 18px;
  padding: 10px;
  font-size: 18px;
  background-color: #d34848;
  border-radius: 15px;
  margin-right: 61%;
  color: wheat;
  width: fit-content;
}
.instructions {
  background-color: #d34848;
  color: wheat;
  padding: 44px;
  border-radius: 40px;
  margin-bottom: 5px;
}
@media only screen and (min-width: 769px) {
  .category {
    margin-right: 0;
  }
  .containerecette {
    display: flex;
    justify-content: space-evenly;
  }
  .containercatli {
    width: 100%;
  }
  .formatinstructions {
    width: 50%;
  }
  .big-card .dish-description {
    width: 60%;
    height: 382px;
    margin: 0 auto;
  }
}
