.big-card {
  margin: 0 auto;
  /* width: clamp(710px, 70%, 900px);*/
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

h3 {
  margin: 15px;
}

.image-recette {
  height: 424px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.dish-ingredients {
  color: rgb(174 74 74);
  padding-block: 46px;
  margin-left: 61px;
  line-height: 1.5;
}
.big-card .dish-description {
  background-size: cover;
  background-repeat: no-repeat;
  height: 382px;
  margin: 0 auto;
}
.dish-description {
  aspect-ratio: 5/ 4;
  width: 400px;
  background-position: center;
  height: 350px;
}

.image-recette div {
  width: 100%;
  border-radius: 40px;
}

.speciality {
  padding-bottom: 65px;
  font-size: 22px;
  color: #d34848;
  display: flex;
  justify-content: center;
}

.category {
  font-size: 18px;
  padding: 10px;
  font-size: 18px;
  background-color: #d34848;
  border-radius: 15px;
  margin-right: 61%;
  color: wheat;
  width: fit-content;
}
.instructions {
  background-color: #d34848;
  color: wheat;
  padding: 44px;
  border-radius: 40px;
  margin-bottom: 5px;
  line-height: 1.6;
}

@media only screen and (min-width: 769px) {
  .category {
    margin-right: 0;
  }
  .containerecette {
    display: flex;
    justify-content: space-evenly;
  }
  .containercatli {
    width: 100%;
  }
  .formatinstructions {
    width: 50%;
  }
  .big-card .dish-description {
    width: 60%;
    height: 382px;
    margin: 0 auto;
  }
  .dish-description {
    aspect-ratio: 4 / 3;
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
  }
}
@keyframes image-slide {
  0% {
    transform: translatex(-250px) scale(0);
  }
  60% {
    transform: translatex(-250px) scale(1);
  }
  90% {
    transform: translatex(150px) scale(1);
  }
  100% {
    transform: translatex(150px) scale(1);
  }
}

@keyframes text-slide {
  0% {
    width: 100%;
  }
  60% {
    width: 100%;
  }
  75% {
    width: 0;
  }
  100% {
    width: 0;
  }
}

body {
  background-color: white;
}

.container-meals {
  width: 100%;
  height: 18vh;
  display: block;
  position: relative;
  overflow: hidden;
}

.image-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.image-container img {
  color: black;
  animation: image-slide 4s cubic-bezier(0.5, 0.5, 0, 1);
  animation-fill-mode: forwards;
  filter: drop-shadow(-4px 5px 5px rgba(0, 0, 0, 0.6));
  height: 114px;
  margin: 171px;
}

.text-container {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-40%, -50%);
  z-index: 1;
}

.text-container h1 {
  text-transform: uppercase;
  font-size: 35px;
  font-family: monospace;
}

.text-container .fading-effect {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  background: white;
  animation: text-slide 4s cubic-bezier(0.5, 0.5, 0, 1);
  animation-fill-mode: forwards;
}
