* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
.container {
  width: 100%;
  padding: 0 12px;
  margin: 0 auto;
}

body {
  margin: 0;
  background-color: #ffffff;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

img {
  width: 100%;
}

h6,
p {
  margin: 0;
}
h4 {
  margin: 0;
  margin-top: 10px;
}
.navigation {
  background-color: #1b2123;
  color: #ffffff;
  height: auto;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.searchBar {
  width: 80%;
  border-radius: 5px;
  border: none;
  padding: 10px 30px 10px 10px;
  margin-bottom: 10px;

  position: relative;
}
.searchBar:after {
  content: "test";
  position: absolute;
  display: block;
  right: 5px;
  top: 5px;
}

.logo {
  height: 90px;
  margin-bottom: 10px;
}
.banniere {
  margin-top: 20px;
  text-align: center;
}
.banniere_img {
  max-height: 419px;
}

.map {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mapButton {
  border-radius: 5px;
  border: none;
  position: absolute;
  width: 16vw;
  left: 50%;
  margin-left: -8vw;
}
.monde {
  width: 100%;
  max-height: 556px;
}
.plats {
  margin: 20px 0px;
  align-content: center;
}
.footer {
  position: relative;
  width: 100%;
  height: 90px;
  margin-top: 20px;
  background-color: #1b2123;
}
.footer_map {
  width: 120px;

  position: absolute;
  left: calc(50% - 60px);
  bottom: 0;
}
