body {
  margin: 0;
  background-color: #4fa0ad;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.logoDiv {
  display: flex;
  justify-content: center;
  margin: 100px 0 50px 0;
}
.logoMood {
  width: 50vw;
}
.text_Home {
  text-align: center;
  color: aliceblue;
}
h1.text_Home {
  margin: 40px 0;
}

h3.text_Home {
  margin: 20px 0;
}
.moodContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.mood {
  border-radius: 10px;
  background-color: aliceblue;
  border: none;
  padding: 10px;
  width: 25vw;
  margin: 12px;
  position: relative;
}
.ambitieux::after {
  content: "🏆";
  position: absolute;
  top: -10px;
  right: -7px;
  font-size: 20px;
}
.amoureux::after {
  content: "😍";
  position: absolute;
  top: -10px;
  right: -7px;
  font-size: 20px;
}
.anxieux::after {
  content: "🥺";
  position: absolute;
  top: -10px;
  right: -7px;
  font-size: 20px;
}
.aventurier::after {
  content: "🧳";
  position: absolute;
  top: -10px;
  right: -7px;
  font-size: 20px;
}
.curieux::after {
  content: "🔍";
  position: absolute;
  top: -10px;
  right: -7px;
  font-size: 20px;
}
.drole::after {
  content: "🤪";
  position: absolute;
  top: -10px;
  right: -7px;
  font-size: 20px;
}
.gourmand::after {
  content: "😋";
  position: absolute;
  top: -10px;
  right: -7px;
  font-size: 20px;
}
.entreprenant::after {
  content: "🤓";
  position: absolute;
  top: -10px;
  right: -7px;
  font-size: 20px;
}
.scientifique::after {
  content: "🧪";
  position: absolute;
  top: -10px;
  right: -7px;
  font-size: 20px;
}
.sportif::after {
  content: "🥇";
  position: absolute;
  top: -10px;
  right: -7px;
  font-size: 20px;
}
.relax::after {
  content: "😌";
  position: absolute;
  top: -10px;
  right: -7px;
  font-size: 20px;
}
.triste::after {
  content: "🥲";
  position: absolute;
  top: -10px;
  right: -7px;
  font-size: 20px;
}
